@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap");

@import "tailwindcss";

* {
  font-family: "Playwrite AU TAS", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  cursor: none;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #5044E5;
}
